name: release

on:
  create:
    tags: ['v*']
    branches: main

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 2.7
        uses: LizardByte/setup-python-action@master
        with:
          python-version: '2.7'

      - name: mod name
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          MOD=wotstat.positions_$VERSION.wotmod
          echo Version: $VERSION
          echo Mod name: $MOD
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "MOD=$MOD" >> $GITHUB_ENV

      - name: build
        run: ./build.sh -v $VERSION && echo Mod name $MOD
        shell: bash

      - name: Archive production artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.MOD }}
          path: ${{ env.MOD }}

      - name: upload linux artifact
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: false
          prerelease: true
          files: ${{ env.MOD }}
          token: ${{ github.token }}
          body: |


            ----------------------
            `canary_upgrade=0.0`
